body {
    background-color: #F3FDFF;
    font-family: 'Cabin', sans-serif;
    margin: 0px;
    color: #25313C;
    font-size: 18px;
/* font-family: 'Mulish', sans-serif; */
}

nav,
.hero-section, 
.feature, 
.testimonial-section, 
footer {
    padding: 0px 140px;
}

.nav-hero {
    background: url(images/hero-image.jpg) no-repeat fixed;
    background-size: cover;
    height: 100vh;
}


/* Navigation Section*/
nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;    
} 

.logo {
    padding-top: 18px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    flex-basis: 420px;
}

li a {
    text-decoration: none;
    color: #F3FDFF;
    font-size: 14px;
    font-weight: 600;
}

.text-link:hover{
    color: #f3fdff71;
}

.button-link {
    padding: 10px 20px;
    background-color: rgba(196, 196, 196, 0.60);
    border-radius: 20px;
}

.button-link:hover {
    background-color: rgba(223, 223, 223, 0.60);
    color: #ffffff;
}


/* Hero Section*/
.hero-section {
    color: #F3FDFF;
    max-width: 700px;
}

.hero-section h1 {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    margin: 90px 0px 20px 0px;
}

.hero-section p {
    max-width: 480px;
    line-height: 160%;
    margin-bottom: 40px;
}

.hero-section form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 10px;
    height: 38px;
    max-width: 450px;
}

.email, .submit {
    font-weight: 600px;
    padding: 0px 15px;
    border: none
}

.email {
    flex: 1 0 auto;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 7px;
}

.submit {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    margin: 0px;
    background-color: #3EC7B4;
    border-radius: 20px;
}

.submit:hover {
    background-color: #8efff0;
}


/* Features Section */
.features-section {
    padding-top: 70px;
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 100px;
}

.feature .learn-more {
    display: flex;
    text-decoration: none;
}

.learn-more p {
    color: #3EC7B5;
    margin-right: 5px;
}


.feature-card {
    min-width: 300px;
    max-width: 450px;
}

h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 45px;
}

.feature-card p {
    line-height: 140%;
}

.lady-image {
    height: 450px;
    width: 450px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
}

.notif {
    max-width: 200px;
    padding: 15px 27px 0 0px;
}


    /* Feature-1 */
.app-preview {
    max-width: 1000px;
    margin-right: -30em;
}

    /* Feature-2 */
#feature-2 {
    flex-direction: row-reverse;
}

.lady-1 {
    background: url("images/lady-1-min.jpg") no-repeat center;
    background-size: cover;
    border-radius: 5px; 
}

    /* Feature-3*/
.lady-2 {
    background: url("images/lady-2-min.jpg");
    background-size: cover;
    border-radius: 5px;
}


/* Testimonial Section */
.testimonial-section {
    overflow: hidden;
}

.testimonial-section h2 {
    text-align: center;
    margin: 0px 0px 80px 0px;
}

.testimonial-container {
    display: flex;
    width: 100%;
    gap: 45px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
    flex: 0 0 230px;
    flex-wrap: wrap;
    background-color: white;
    color: #6D7D8B;
    border-radius: 15px;
    box-shadow: -9px 9px 50px -40px;
    padding: 20px;
}

.star-rating {
    margin: 15px 0px 5px 0px;
}

.testimonial-card p {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}

.author-info {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.avatar {
    width: 56px;
    border-radius: 50px;
}

.author p {
    margin: 0px;
}

.author .name {
    color: #25313C;
}

.author .career {
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
}
