body {
    background-color: #F3FDFF;
    font-family: 'Cabin', sans-serif;
    padding: 0px 140px;
/* font-family: 'Mulish', sans-serif; */
}

/* Navigation Section*/
nav {
    position: fixed;
    top: 0px;
}

/* */