body {
    background-color: #F3FDFF;
    font-family: 'Cabin', sans-serif;
    margin: 0px;
    color: #25313C;
    font-size: 18px;
/* font-family: 'Mulish', sans-serif; */
}

nav, section, footer {
    padding: 0px 140px;
}

.nav-hero {
    background: url(images/hero-image.jpg) no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

/* Navigation Section*/
nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;    
} 

.logo {
    padding-top: 18px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    flex-basis: 420px;
}

li a {
    text-decoration: none;
    color: #F3FDFF;
    font-size: 14px;
    font-weight: 600;
}

.text-link:hover{
    color: #f3fdff71;
}

.button-link {
    padding: 10px 20px;
    background-color: rgba(196, 196, 196, 0.60);
    border-radius: 20px;
}

.button-link:hover {
    background-color: rgba(223, 223, 223, 0.60);
    color: #ffffff;
}

/* Hero Section*/
.hero-section {
    color: #F3FDFF;
    max-width: 700px;
}

.hero-section h1 {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    margin: 90px 0px 20px 0px;
}

.hero-section p {
    max-width: 480px;
    line-height: 160%;
    margin-bottom: 40px;
}

.hero-section form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 10px;
    height: 38px;
    max-width: 450px;
}

.email, .submit {
    font-weight: 600px;
    padding: 0px 15px;
    border: none
}

.email {
    flex: 1 0 auto;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 7px;
}

.submit {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    margin: 0px;
    background-color: #3EC7B4;
    border-radius: 20px;
}

.submit:hover {
    background-color: #8efff0;
}




.app-preview {
    width: 100%;

}